body{
    margin: auto;
    padding: 0;
    background-color: rgb(165, 221, 211);
    
}
header{
    
    height:900px ;
    width: 1500px;
    background-color: rgb(162, 170, 175);
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
    
}
section{
    height: 60px;
    width: 1500px;
background-color: rgb(17, 16, 16);
float: left;
margin-top: 100px;


}